<div class="head">
	<%= link_to 'Back', admin_url, :class =>'back-button' %>
	<%= link_to_function 'Help', visual_effect(:toggle_blind, :info, :duration => 1.0), :class => 'right-align' %>

	
</div>

<div id="info" style="display: none">
	<span class="gray italic">Users that are highlighted in gray are super administrators. </span>
	<span class="gray italic">A super administrator has the ability to create user accounts and see all log information</span>
</div>

<table class='listing'>
  <tr>
    <th>Name</th>
    <th>eMail</th>
    <th>User Name</th>

  </tr>

<% @users.each do |user| %>
  <% if user.is_administrator %>
	<tr class="admin">
  <%else%>
	<tr class="user">
  <%end%>

    <td><%= link_to user.full_name, user %></td>
    <td><%= link_to user.email, user %></td>
    <td><%= link_to user.username, user %></td>

  </tr>
<% end %>
</table>







<br />

<%= link_to 'New user', new_user_path %>